@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-size: 50px 10px;
    background-size: cover; 
    filter: saturate(80%);
    

}
nav{
    color: goldenrod;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-color: rgb(123, 91, 8);
}
nav ul{
    font-weight: 700;
    font-size: large;
}
nav h1 {
    font-weight: 800;
    font-size: x-large;
}

